body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/influx_Background.jpg");
}

a.clickHere {
  color: #ffffff !important;
}

#image {
  max-width: 300px;
  max-height: 300px;
}

.dropshadow{
  filter: drop-shadow(8px 8px 5px grey)
}

.footer {
  margin-top: 50px;
  height: 70px;
  padding-bottom: 50px!important;
  font-family: 'Roboto Condensed', sans-serif;
}

.modal-dialog {
  position: absolute;
  top: 300px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.submit {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submit:hover {background-color: #3e8e41}

.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
